<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments::head(title='Cultuurhuis | Genres')"></head>

    <body>
        <nav th:replace="fragments::menu"></nav>

        <div class="container">
            <div id="genres-list">
                <h1 class=" mt-5 mr-auto text-center">Genres:</h1>
                <div class="form-group has-search">
                    <span class="fa fa-search form-control-feedback"></span>
                    <input class="form-control form-control-lg m-auto" id="search" type="text" placeholder="Zoeken...">
                </div>

                <ul class="list-group mt-2" id="original-list">
                    <li class="list-group-item text-center" th:each="genre:${genres}" th:object="${genre}">
                        <a th:href="@{/genres/{id}(id=*{id})}" th:text="${genre.naam}" th:value="${genre.id}"></a>
                    </li>
                </ul>

                <div id="match-list"></div>
            </div>
        </div>

        <script th:src="|/js/searchGenre.js|"></script>
    </body>
</html>