<!doctype html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments::head(title='Cultuurhuis | Overzicht')"></head>

    <body>
        <nav th:replace="fragments::menu"></nav>

        <div class="container text-center">
            <h2 class="mt-3">Bestelling is succesvol geplaatst, je word naar de home pagina gestuurd in 5 seconden.</h2>
            <a th:href="@{/}">Of klik hier</a>

            <h2 class="mt-3">Overzicht:<img class="mt-3" th:src="@{/images/bevestig.png}" alt="bevestig"></h2>

            <h2>Gelukte reservaties: </h2>
            <table class="table table-striped">
                <tr class="header">
                    <th>Datum</th>
                    <th>Titel</th>
                    <th>Uitvoerders</th>
                    <th>Prijs</th>
                    <th>Plaatsen</th>
                </tr>
                <tr th:each="voorstelling:${gelukteVoorstellingen}" th:object="${voorstelling}">
                    <td th:text="*{{key.datum}}"></td>
                    <td th:text="*{key.titel}"></td>
                    <td th:text="*{key.uitvoerders}"></td>
                    <td th:text="*{{key.prijs}}"></td>
                    <td th:text="*{value}"></td>
                </tr>
            </table>

            <span th:if="${mapSize} != null and ${mapSize} > 0">
                <h2>Mislukte reservaties</h2>
                <table class="table table-striped">
                    <tr th:class="header">
                        <th>Datum</th>
                        <th>Titel</th>
                        <th>Uitvoerders</th>
                        <th>Prijs(&euro;)</th>
                        <th>Plaatsen</th>
                        <th>Vrije Plaatsen</th>
                    </tr>
                    <tr th:each="voorstelling:${mislukteVoorstellingen}" th:object="${voorstelling}">
                        <td th:text="*{{key.datum}}"></td>
                        <td th:text="*{key.titel}"></td>
                        <td th:text="*{key.uitvoerders}"></td>
                        <td th:text="*{{key.prijs}}"></td>
                        <td th:text="*{value.plaats}"></td>
                        <td th:text="*{value.vrijePlaats}"></td>
                    </tr>
                </table>
            </span>
        </div>

        <script th:src="|/js/redirectAfterTimeout.js|"></script>
    </body>
</html>