<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments::head(title='Cultuurhuis | Voorstellingen')"></head>

    <body>
        <nav th:replace="fragments::menu"></nav>

        <div class="container">
            <div class="row">
                <div class="col-md-8 m-auto" id="voorstellingen-list">
                    <h1 class="mt-3">Voorstellingen</h1>

                    <table class="table table-dark text-center" id="sort-table">
                        <thead>
                        <tr>
                            <th><a th:href="@{/voorstellingen?sort=titel}">Titel</a></th>
                            <th><a th:href="@{/voorstellingen?sort=id}">Id</a></th>
                        </tr>
                        </thead>
                    </table>

                    <div class="form-group has-search">
                        <span class="fa fa-search form-control-feedback"></span>
                        <input class="form-control form-control-lg m-auto" id="search" type="text" placeholder="Zoeken...">
                    </div>

                    <ul class="list-group mt-2" id="original-list">
                        <li class="list-group-item" th:each="voorstelling:${page.content}" th:object="${voorstelling}">
                            <a th:href="@{/voorstellingen/{id}(id=*{id})}" th:text="*{titel}"></a>
                        </li>
                    </ul>

                    <div id="match-list"></div>

                    <p class="mt-3">
                     <span th:each="pageNr:${#numbers.sequence(1,page.totalPages)}">
                     <span th:if="${pageNr} -1 == ${page.number}" th:text="${pageNr}"></span>
                     <a th:if="${pageNr} -1 != ${page.number}" th:text="${pageNr}"
                        th:href="@{/voorstellingen(page=${pageNr-1},sort=${param.sort})}"></a>
                    </span>
                    </p>
                </div>
            </div>
        </div>

        <script th:src="|/js/searchVoorstelling.js|"></script>
    </body>
</html>